<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid bg-light py-5">
    <div class="row m-0 d-flex justify-content-center">
        <div class="col-xl-10 bg-white py-4">
            <h5 class="fw-600 text-center pt-4 m-0">Edit Apartment Details</h5>
            {% if errors %}
			    <p class="text-center text-orange fw-500 pt-2">Error: {{errors}}</>
            {% endif %}
            {% if apartment_obj %}
            <form class="my-5" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row m-0 p-0">
                    <div class="form-group col-xl-8 p-0 mx-auto">
                        <label>Apartment Name</label>
                        <input type="text" class="form-control" name="name" value="{{ apartment_obj.name }}" required>
                    </div>
                    <div class="form-group col-xl-3 p-0 mx-auto">
                        <label>Catagory</label>
                        <select name="type" value="{{ apartment_obj.type }}" class="form-control" required>
                            <option>Rent</option>
                            <option>Sale</option>
                        </select>
                    </div>
                    <div class="form-group col-xl-6 p-0 mx-auto">
                        <label>Appartment Location</label>
                        <input type="text" class="form-control" name="location" value="{{ apartment_obj.location }}" required>
                    </div>
                    <div class="form-group col-xl-5 p-0 mx-auto">
                        <label>Asking Price</label>
                        <input type="number" class="form-control" name="price" value="{{ apartment_obj.price }}" required>
                    </div>
                    <div class="form-group col-xl-3 p-0 mx-auto">
                        <label>Total Area (sq. feet)</label>
                        <input type="number" class="form-control" name="area" value="{{ apartment_obj.area }}" required>
                    </div>
                    <div class="form-group col-xl-4 p-0 mx-auto">
                        <label>Building Year</label>
                        <input type="text" onfocus="(this.type='date')" class="form-control" name="building_year" value="{{ apartment_obj.building_year }}" required>
                    </div>
                    <div class="custom-file col-xl-4 p-0 mx-auto">
                        <input type="file" class="custom-file-input" name="img" value="{{ apartment_obj.img }}" accept=".png, .jpg, .jpeg">
                        <label class="custom-file-label" >Apartment Image (Potrait)</label>
                    </div>
                </div>
                <div class="row mx-0 mt-4 prx-4">
                    <h5 class="fw-600 text-orange">About</h5>
                </div>
                <div class="row mx-0">
                    <div class="form-group col-xl-12 py-0 prx-4 mx-auto">
                        <textarea class="form-control" name="about" rows="6" required>{{ apartment_obj.about }}</textarea>
                    </div> 
                </div>
                
                <div class="row mx-0 mt-4 px-4">
                    <h5 class="fw-600 text-orange">Features</h5>
                </div>
                
                <div class="row mx-0 mb-4 d-flex justify-content-center">
                    <div class="form-group col-md-3 p-0 mx-auto">
                        <label>No of Bedroom</label>
                        <input type="number" class="form-control" name="bedroom" value="{{ apartment_obj.bedroom }}" required>
                    </div>
                    <div class="form-group col-md-3 p-0 mx-auto">
                        <label>No of Living</label>
                        <input type="number" class="form-control" name="living" value="{{ apartment_obj.living }}" required>
                    </div>
                    <div class="form-group col-md-2 p-0 mx-auto">
                        <label>No of Dinning</label>
                        <input type="number" class="form-control" name="dinning" value="{{ apartment_obj.dinning }}" required>
                    </div>
                    <div class="form-group col-md-2 p-0 mx-auto">
                        <label>No of Bathroom</label>
                        <input type="number" class="form-control" name="bathroom" value="{{ apartment_obj.bathroom }}" required>
                    </div>
                </div>
                <div class="row mx-0 mt-4 px-4">
                    <h5 class="fw-600 text-orange">Facilities</h5>
                </div>
                <div class="row mx-0 mb-4 px-4 d-flex justify-content-center">
                    <div class="form-check col-md-4 my-2">
                        <input class="form-check-input" type="checkbox" name="garage" value="{{ apartment_obj.garage }}">
                        <label class="form-check-label">
                            GARAGE AVAIAVLE
                        </label>
                    </div>
                    <div class="form-check col-md-4 my-2">
                        <input class="form-check-input" type="checkbox" name="watchman" value="{{ apartment_obj.watchman }}">
                        <label class="form-check-label">
                            FULLTIME WATCHMAN
                        </label>
                    </div>
                    <div class="form-check col-md-4 my-2">
                        <input class="form-check-input" type="checkbox" name="garden" value="{{ apartment_obj.garden }}">
                        <label class="form-check-label">
                            ATTATCHED GARDEN
                        </label>
                    </div>
                    <div class="form-check col-md-4 my-2">
                        <input class="form-check-input" type="checkbox" name="swimmingpool" value="{{ apartment_obj.swimmingpool }}">
                        <label class="form-check-label">
                            ATTATCHED SWIMMING-POOL
                        </label>
                    </div>
                    <div class="form-check col-md-4 my-2">
                        <input class="form-check-input" type="checkbox" name="hospital" value="{{ apartment_obj.hospital }}">
                        <label class="form-check-label">
                            NEARBY HOSPITAL
                        </label>
                    </div>
                    <div class="form-check col-md-4 my-2">
                        <input class="form-check-input" type="checkbox" name="shoppingmall" value="{{ apartment_obj.shoppingmall }}">
                        <label class="form-check-label">
                            NEARBY SHOPPING MALL
                        </label>
                    </div>
                </div>         
                <div class="row m-0 mt-5 px-4 d-flex justify-content-end">
                    <a href="{% url 'app:index' %}" class="btn btn-outline-dark mx-1 my-2 px-4" data-dismiss="modal">Back To Home</a>
                    <button type="submit" class="btn btn-orange mx-1 my-2 px-4">Submit</button>
                </div>
            </form>
            {% endif %}

        </div>
    </div>
</div>

<div style="height: 120px;"></div>



{% endblock %}
