<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Start: Banner -->
<div class="banner col-xl-12" style="background-image:url('{% static 'imgs/banner.png' %}')">
    <div class="col-xl-9">
        <p class="banner_subtitle text-grey fw-600 my-2 py-0">One Place</p>
        <p class="banner_title text-grey fw-600 my-0 pt-3 pb-5">
            Where you can find your
            <span class="text-orange">Dream</span>
        </p>
        <ul class="nav">
            <li class="active">
                <button class="btn btn-lg btn-orange px-45" data-toggle="tab" href="#search_buy">Buy</button>
            </li>
            <li class="">
                <button class="btn btn-lg btn-grey px-45" data-toggle="tab" href="#search_rent">Rent</button>
            </li>
        </ul>
        <div class="tab-content">
            <div id="search_buy" class="tab-pane fade in active show">
                <form action="" method="">
                    <div class="input-group">
                        <input class="form-control banner_inputbox" name="search_key" type="text" placeholder="Enter a location to find an apartment">
                        <div class="input-group-append">
                            <button class="btn btn-xl px-5 btn-orange" type="submit">
                                <i class="fa fa-search pr-1"></i>
                                <span class="banner_search_word">Search</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="search_rent" class="tab-pane fade">
                <form action="" method="">
                    <div class="input-group">
                        <input class="form-control banner_inputbox" name="search_key" type="text" placeholder="Enter a location to find an apartment">
                        <div class="input-group-append">
                            <button class="btn btn-xl px-5 btn-orange" type="submit">
                                <i class="fa fa-search pr-1"></i>
                                <span class="banner_search_word">Search</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End: Banner -->


<!-- Start: Latest Listing -->
<div class="row mx-0 d-flex justify-content-center latest_listing">
    <div class="col-xl-10 bg-light p-5">
        <div class="row m-0 mb-2">
            <h4 class="fw-700 text-left">Latest listing</h4>
            <a href="#" class="ml-auto fw-600">
                view all
                <i class='fa fa-angle-double-right' style="font-size: 16px;"></i>
            </a>
        </div>

        <div class="row m-0 d-flex justify-content-center">
            <!-- start: Dream_Card-->
            <a href="#">
                <div class="dream_card mx-4">
                    <div class="dream_card_img" style="background-image: url('{% static 'imgs/card_pic.png' %}');">
                        <div class="non_hover_content">
                            <div class="tl_tag bg-orange d-flex justify-content-center">
                                FOR RENT
                            </div>
                            <div class="row m-0 card_info py-3">
                                <div class="text-orange col-xl-12 p-0 fw-700 info_row">
                                    $ 39,990
                                    <span class="fw-500">/month</span>
                                </div>
                                <div class="fw-200 text-white col-xl-12 p-0">
                                    <img src="{% static 'icons/Icon material-location-on.png' %}" class="mr-1">
                                    1/b/2 Adabor, Dhaka
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="overlay_content">
                            <p>FOR SALE</p>
                            <p class="fw-800">$ 39,990</p>
                            <button class="btn btn-orange my-1 px-4">view details</button>
                            <img class="d-flex my-2" src="{% static 'icons/card_ico.png' %}" style="width: 30px; height: 30px;">
                            <p class="">1/b/2 Adabor, Dhaka</p>
                    </div>
                </div>
            </a>
            <!-- End: Dream_Card-->
            <!-- start: Dream_Card-->
            <a href="#">
                <div class="dream_card mx-4">
                    <div class="dream_card_img" style="background-image: url('{% static 'imgs/card_pic.png' %}');">
                        <div class="non_hover_content">
                            <div class="tl_tag bg-green d-flex justify-content-center">
                                FOR SALE
                            </div>
                            <div class="row m-0 card_info py-3">
                                <div class="text-orange col-xl-12 p-0 fw-700 info_row">
                                    $ 39,990
                                    <span class="fw-500">/month</span>
                                </div>
                                <div class="fw-200 text-white col-xl-12 p-0">
                                    <img src="{% static 'icons/Icon material-location-on.png' %}" class="mr-1">
                                    1/b/2 Adabor, Dhaka
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="overlay_content">
                            <p>FOR SALE</p>
                            <p class="fw-800">$ 39,990</p>
                            <button class="btn btn-orange my-1 px-4">view details</button>
                            <img class="d-flex my-2" src="{% static 'icons/card_ico.png' %}" style="width: 30px; height: 30px;">
                            <p class="">1/b/2 Adabor, Dhaka</p>
                    </div>
                </div>
            </a>
            <!-- End: Dream_Card-->
            <!-- start: Dream_Card-->
            <a href="#">
                <div class="dream_card mx-4">
                    <div class="dream_card_img" style="background-image: url('{% static 'imgs/card_pic.png' %}');">
                        <div class="non_hover_content">
                            <div class="tl_tag bg-orange d-flex justify-content-center">
                                FOR RENT
                            </div>
                            <div class="row m-0 card_info py-3">
                                <div class="text-orange col-xl-12 p-0 fw-700 info_row">
                                    $ 39,990
                                    <span class="fw-500">/month</span>
                                </div>
                                <div class="fw-200 text-white col-xl-12 p-0">
                                    <img src="{% static 'icons/Icon material-location-on.png' %}" class="mr-1">
                                    1/b/2 Adabor, Dhaka
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="overlay_content">
                            <p>FOR SALE</p>
                            <p class="fw-800">$ 39,990</p>
                            <button class="btn btn-orange my-1 px-4">view details</button>
                            <img class="d-flex my-2" src="{% static 'icons/card_ico.png' %}" style="width: 30px; height: 30px;">
                            <p class="">1/b/2 Adabor, Dhaka</p>
                    </div>
                </div>
            </a>
            <!-- End: Dream_Card-->
            
        </div>

    </div>
</div>



<!--  

    <div class="dream_card_img" style="background-image: url('{% static 'imgs/card_pic.png' %}');">

    </div>

    <img class="d-flex" src="{% static 'imgs/card_pic.png' %}">



-->




<!-- End: Latest Listing -->


<div style="height: 120px;"></div>


<!-- Start: About Us -->
<div class="row m-0 d-flex justify-content-center about_us">
    <div class="col-xl-5">
        <p class="dream_subtitle text-orange fw-600 m-0">Explore</p>
        <p class="dream_title fw-600 m-0">About Us</p>
        <div class="dream_underline"></div>
        <p class="dream_paragraph fw-400 my-3">
            Find your place with immersive photo experience and the most listings, including things you won’t find anywhere else.
            We are creating a seamless online experience from shopping on the largest rental network, to applying, paying rent. 
            Dream Lodging offers variety of apartments, townhouses, and villas with easy payment plans. 
            No matter what path you take to sell your home, we can help you navigate a successful sale.
        </p>
        <p class="dream_paragraph fw-400 my-3">
            We offer-
        </p>
        <div class="row m-0 px-0 py-2">
            <div class="col-xl-6 col-md-6">
                <ul class="p-0">
                    <li class="py-2">
                        <img src="{% static 'icons/Icon awesome-home.png' %}" class="mr-2">
                        <span class="fw-600">Smart home design</span>
                    </li>
                    <li class="py-2">
                        <img src="{% static 'icons/Icon material-attach-money.png' %}" class="ml-1 mr-2">
                        <span class="fw-600">Cheap rent</span>
                    </li>
                </ul>
            </div>
            <div class="col-xl-6 col-md-6">
                <ul class="p-0">
                    <li class="py-2">
                        <img src="{% static 'icons/Icon awesome-cloud-moon-rain.png' %}" class="mr-2">
                        <span class="fw-600">Beautiful environment</span>
                    </li>
                    <li class="py-2">
                        <img src="{% static 'icons/Icon awesome-hospital.png' %}" class="mr-2">
                        <span class="fw-600">Availability of health facilities</span>
                    </li>
                </ul>
            </div>
        </div>
        <p class="dream_paragraph text-orange fw-600">
            Check our customer reviews
            <i class='fa fa-angle-right'></i>
        </p>
        <div class="row m-0">
            <a href="#" class="btn btn-xl px-4 btn-orange">MAKE A BOOKING</a>
            <a href="#" class="btn btn-xl px-4 btn-outline-dark mx-4">VIEW ALL LISTINGS</a>
        </div>
    </div>
    <div class="col-xl-5 about_pic">
        <img src="{% static 'imgs/about_pic.png' %}" class="ml-3 img-fluid">
    </div>
</div>
<!-- End: About Us -->




<div style="height: 800px;">
    
</div>

{% endblock %}
