<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Start: Banner -->
<div class="banner col-xl-12" style="background-image:url('{% static 'imgs/banner.png' %}')">
    <div class="col-xl-9">
        <p class="banner_subtitle text-grey fw-600 my-2 py-0">One Place</p>
        <p class="banner_title text-grey fw-600 my-0 pt-3 pb-5">
            Where you can find your
            <span class="text-orange">Dream</span>
        </p>
        <ul class="nav">
            <li class="active">
                <button class="btn btn-lg btn-orange px-45" data-toggle="tab" id="btn1" onclick="btn1Function()" href="#search_buy">Buy</button>
            </li>
            <li class="">
                <button class="btn btn-lg btn-grey px-45" data-toggle="tab" id="btn2" onclick="btn2Function()" href="#search_rent">Rent</button>
            </li>
        </ul>
        <div class="tab-content">
            <div id="search_buy" class="tab-pane fade in active show">
                <form action="{% url 'app:search_result' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input class="form-control banner_inputbox" name="search_key" type="text" placeholder="Enter a location to find an apartment">
                        <input type="hidden" name="search_catagory" value="Sale">
                        <div class="input-group-append">
                            <button class="btn btn-xl px-5 btn-orange" type="submit">
                                <i class="fa fa-search pr-1"></i>
                                <span class="banner_search_word">Search</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="search_rent" class="tab-pane fade">
                <form action="{% url 'app:search_result' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input class="form-control banner_inputbox" name="search_key" type="text" placeholder="Enter a location to find an apartment">
                        <input type="hidden" name="search_catagory" value="Buy">
                        <div class="input-group-append">
                            <button class="btn btn-xl px-5 btn-orange" type="submit">
                                <i class="fa fa-search pr-1"></i>
                                <span class="banner_search_word">Search</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End: Banner -->


<!-- Start: Latest Listing -->
<div class="row mx-0 d-flex justify-content-center latest_listing">
    <div class="col-xl-10 bg-light p-5">
        <div class="row m-0 mb-2">
            <h4 class="fw-700 text-left">Latest listing</h4>
            <a href="{% url 'app:listing' %}" class="ml-auto fw-600">
                view all
                <i class='fa fa-angle-double-right' style="font-size: 16px;"></i>
            </a>
        </div>

        <div class="row m-0 d-flex justify-content-center">
            {% for i in latest_listing %}
            <!-- start: Dream_Card-->
            <a href="{% url 'app:apartment' pk=i.pk %}">
                <div class="dream_card mx-4">
                    <div class="dream_card_img" style="background-image: url('{{ i.img.url }}');">
                        <div class="non_hover_content">
                            <div class="tl_tag bg-orange d-flex justify-content-center">
                                FOR {{ i.type }}
                            </div>
                            <div class="row m-0 card_info py-3">
                                <div class="text-orange col-xl-12 p-0 fw-700 info_row">
                                    $ {{ i.price }}
                                    <span class="fw-500">/month</span>
                                </div>
                                <div class="fw-200 text-white col-xl-12 p-0">
                                    <img src="{% static 'icons/Icon material-location-on.png' %}" class="mr-1">
                                    {{ i.location }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="overlay_content">
                            <p>FOR {{ i.type }}</p>
                            <p class="fw-800">$ {{ i.price }}</p>
                            <button class="btn btn-orange my-1 px-4">view details</button>
                            <img class="d-flex my-2" src="{% static 'icons/card_ico.png' %}" style="width: 30px; height: 30px;">
                            <p class="">{{ i.location }}</p>
                    </div>
                </div>
            </a>
            <!-- End: Dream_Card-->
            {% endfor %}
            
        </div>

    </div>
</div>
<!-- End: Latest Listing -->


<div style="height: 120px;" id="about"></div>


<!-- Start: About Us -->
<div class="row m-0 d-flex justify-content-center about_us">
    <div class="col-xl-5">
        <p class="dream_subtitle text-orange fw-600 m-0">Explore</p>
        <p class="dream_title fw-600 m-0">About Us</p>
        <div class="dream_underline"></div>
        <p class="dream_paragraph fw-400 my-3">
            Find your place with immersive photo experience and the most listings, including things you won’t find anywhere else.
            We are creating a seamless online experience from shopping on the largest rental network, to applying, paying rent. 
            Dream Lodging offers variety of apartments, townhouses, and villas with easy payment plans. 
            No matter what path you take to sell your home, we can help you navigate a successful sale.
        </p>
        <p class="dream_paragraph fw-400 my-3">
            We offer-
        </p>
        <div class="row m-0 px-0 py-2">
            <div class="col-xl-6 col-md-6">
                <ul class="p-0">
                    <li class="py-2">
                        <img src="{% static 'icons/Icon awesome-home.png' %}" class="mr-2">
                        <span class="fw-600">Smart home design</span>
                    </li>
                    <li class="py-2">
                        <img src="{% static 'icons/Icon material-attach-money.png' %}" class="ml-1 mr-2">
                        <span class="fw-600">Cheap rent</span>
                    </li>
                </ul>
            </div>
            <div class="col-xl-6 col-md-6">
                <ul class="p-0">
                    <li class="py-2">
                        <img src="{% static 'icons/Icon awesome-cloud-moon-rain.png' %}" class="mr-2">
                        <span class="fw-600">Beautiful environment</span>
                    </li>
                    <li class="py-2">
                        <img src="{% static 'icons/Icon awesome-hospital.png' %}" class="mr-2">
                        <span class="fw-600">Availability of health facilities</span>
                    </li>
                </ul>
            </div>
        </div>
        <p class="dream_paragraph text-orange fw-600">
            Check our customer reviews
            <i class='fa fa-angle-right'></i>
        </p>
        <div class="row m-0">
            <a href="{% url 'app:listing' %}" class="btn btn-xl px-4 btn-orange">MAKE A BOOKING</a>
            <a href="{% url 'app:listing' %}" class="btn btn-xl px-4 btn-outline-dark mx-4">VIEW ALL LISTINGS</a>
        </div>
    </div>
    <div class="col-xl-5 about_pic">
        <img src="{% static 'imgs/about_pic.png' %}" class="ml-3 img-fluid">
    </div>
</div>
<!-- End: About Us -->



<div style="height: 120px;"></div>


<!-- Start: Listing Carousel -->
<div class="container-fluid bg-light listing_carousel_container py-5 m-0 p-0">
    <div class="row m-0 d-flex justify-content-center">
        <div class="col m-0 p-0">
            <p class="dream_subtitle text-orange fw-600 text-center m-0">Have a look at</p>
            <p class="dream_title fw-600 text-center m-0">Out Listings</p>
            <div class="dream_underline mx-auto"></div>
            <ul class="nav my-3" style="display: flex; justify-content: center">
                <li class="active mt-3" style="font-size: 17px;">
                    <a data-toggle="tab" href="#rent_carousel" id="rent" onclick="rentFunction()" class="text-orange fw-600">RENT</a>
                </li>
                <li style="font-size: 30px;" class="fw-200 mx-3"> | </li>
                <li class="mt-3" style="font-size: 17px;">
                    <a data-toggle="tab" href="#buy_carousel" id="sale" onclick="saleFunction()" class="text-black fw-600">BUY</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div id="rent_carousel" class="tab-pane fade in active show">
            <!-- start: Dream_Carousel-->
            <div class="swiper mySwiper" id="swiper1">
                <div class="swiper-wrapper">
                    {% for i in rent_listing %}
                        <div class="swiper-slide">
                            <!-- start: Dream_Card-->
                            <a href="{% url 'app:apartment' pk=i.pk %}">
                                <div class="dream_card mx-4">
                                    <div class="dream_card_img" style="background-image: url('{{ i.img.url }}');">
                                        <div class="non_hover_content">
                                            <div class="tl_tag bg-orange d-flex justify-content-center">
                                                FOR {{ i.type }}
                                            </div>
                                            <div class="row m-0 card_info py-3">
                                                <div class="text-orange col-xl-12 p-0 fw-700 info_row">
                                                    $ {{ i.price }}
                                                    <span class="fw-500">/month</span>
                                                </div>
                                                <div class="fw-200 text-white col-xl-12 p-0">
                                                    <img src="{% static 'icons/Icon material-location-on.png' %}" class="mr-1">
                                                    {{ i.location }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overlay_content">
                                            <p>FOR {{ i.type }}</p>
                                            <p class="fw-800">$ {{ i.price }}</p>
                                            <button class="btn btn-orange my-1 px-4">view details</button>
                                            <img class="d-flex my-2" src="{% static 'icons/card_ico.png' %}" style="width: 30px; height: 30px;">
                                            <p class="">{{ i.location }}</p>
                                    </div>
                                </div>
                            </a>
                            <!-- End: Dream_Card-->
                        </div>
                    {% endfor %}
                    <div class="swiper-slide">
                        <!-- start: Dream_Card-->
                        <a href="{% url 'app:rent_listing' %}">
                            <div class="dream_card mx-auto">
                                <div class="dream_card_img" style="background-image: url('{% static 'imgs/load more.jpg' %}');">
                                    <div class="overlay_content">
                                        <p class="btn btn-orange">View More</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- End: Dream_Card-->
                    </div>
                </div>


                <div class="swiper-button-next">
                    <img src="{% static 'icons/slider_arrow_right.png' %}" class="slider_next">
                </div>
                <div class="swiper-button-prev">
                    <img src="{% static 'icons/slider_arrow_left.png' %}" class="slider_prev">
                </div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>
            <!-- End: Dream_Carousel-->
        </div>
        <div id="buy_carousel" class="tab-pane fade">
            <div class="swiper mySwiper" id="swiper1">
                <div class="swiper-wrapper">
                    {% for i in sale_listing %}
                        <div class="swiper-slide">
                            <!-- start: Dream_Card-->
                            <a href="{% url 'app:apartment' pk=i.pk %}">
                                <div class="dream_card mx-4">
                                    <div class="dream_card_img" style="background-image: url('{{ i.img.url }}');">
                                        <div class="non_hover_content">
                                            <div class="tl_tag bg-orange d-flex justify-content-center">
                                                FOR {{ i.type }}
                                            </div>
                                            <div class="row m-0 card_info py-3">
                                                <div class="text-orange col-xl-12 p-0 fw-700 info_row">
                                                    $ {{ i.price }}
                                                    <span class="fw-500">/month</span>
                                                </div>
                                                <div class="fw-200 text-white col-xl-12 p-0">
                                                    <img src="{% static 'icons/Icon material-location-on.png' %}" class="mr-1">
                                                    {{ i.location }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overlay_content">
                                            <p>FOR {{ i.type }}</p>
                                            <p class="fw-800">$ {{ i.price }}</p>
                                            <button class="btn btn-orange my-1 px-4">view details</button>
                                            <img class="d-flex my-2" src="{% static 'icons/card_ico.png' %}" style="width: 30px; height: 30px;">
                                            <p class="">{{ i.location }}</p>
                                    </div>
                                </div>
                            </a>
                            <!-- End: Dream_Card-->
                        </div>
                    {% endfor %}
                    <div class="swiper-slide">
                        <!-- start: Dream_Card-->
                        <a href="{% url 'app:sale_listing' %}">
                            <div class="dream_card mx-auto">
                                <div class="dream_card_img" style="background-image: url('{% static 'imgs/load more.jpg' %}');">
                                    <div class="overlay_content">
                                        <p class="btn btn-orange">View More</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- End: Dream_Card-->
                    </div>
                </div>


                <div class="swiper-button-next">
                    <img src="{% static 'icons/slider_arrow_right.png' %}" class="slider_next">
                </div>
                <div class="swiper-button-prev">
                    <img src="{% static 'icons/slider_arrow_left.png' %}" class="slider_prev">
                </div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>
            <!-- End: Dream_Carousel-->
        </div>
    </div>

</div>
<!-- End: Listing Carousel -->



<div style="height: 120px;"></div>


<!-- Start: Reliable Agents -->
<div class="row m-0 d-flex justify-content-center about_us">
    <div class="col-xl-10 my-4">
        <p class="dream_subtitle text-orange fw-600 m-0">Meet Our</p>
        <div class="row m-0">
            <p class="dream_title fw-600 m-0">Reliable Agents</p>
        <a href="{% url 'app:agents' %}" class="ml-auto mr-5 mt-4 fw-600">
                view all
                <i class='fa fa-angle-double-right' style="font-size: 16px;"></i>
            </a>
        </div>
        <div class="dream_underline"></div>
    </div>
    <div class="col-xl-10 my-2">
        <div class="row m-0">
            {% for i in agents %}
            <!-- Start: Agent Card -->
            <div class="agent_card my-3 mx-auto">
                <img src="{{ i.img.url }}" class="img-fluid d-flex mx-auto">
                <h6 class="text-center mt-2 p-0 fw-600">{{ i.fullname }}</h6>
                <p class="text-center mb-2 p-0">Renowned Agent</p>
                <div class="row m-0 d-flex justify-content-center">
                    <a href="{% url 'app:profile' pk=i.username %}" class="btn btn-xl btn-orange px-4">View Profile</a>
                </div>
            </div>
            <!-- End: Agent Card -->
            {% endfor %}
        </div>
    </div>

</div>
<!-- End: Reliable Agents -->


<div style="height: 160px;"></div>


<!-- Start: Numbers Count -->
<div class="row m-0 d-flex justify-content-center bg-light py-5">
    <div class="no_card mx-5">
        <img src="{% static 'icons/apartment.png' %}" class="img-fluid d-flex mx-auto my-3">
        <h1 class="fw-700 text-center m-0 p-0">12+</h1>
        <p class="text-center fw-600 m-0 p-0">Apartments sold</p>
    </div>
    <div class="no_card mx-5">
        <img src="{% static 'icons/customer.png' %}" class="img-fluid d-flex mx-auto my-3">
        <h1 class="fw-700 text-center m-0 p-0">200+</h1>
        <p class="text-center fw-600 m-0 p-0">Happy customers</p>
    </div>
    <div class="no_card mx-5">
        <img src="{% static 'icons/agents.png' %}" class="img-fluid d-flex mx-auto my-3">
        <h1 class="fw-700 text-center m-0 p-0">14+</h1>
        <p class="text-center fw-600 m-0 p-0">Agents</p>
    </div>
    <div class="no_card mx-5">
        <img src="{% static 'icons/experience.png' %}" class="img-fluid d-flex mx-auto my-3">
        <h1 class="fw-700 text-center m-0 p-0">10+</h1>
        <p class="text-center fw-600 m-0 p-0">Years of experience</p>
    </div>
</div>
<!-- Start: Numbers Count -->


</div>



<script>
    function btn1Function() {
        var btn1Element = document.getElementById("btn1");
        var btn2Element = document.getElementById("btn2");
        btn1Element.classList.remove("btn-grey");
        btn1Element.className += " btn-orange";
        btn2Element.classList.remove("btn-orange");
        btn2Element.className += " btn-grey";
    }
    function btn2Function() {
        var btn1Element = document.getElementById("btn1");
        var btn2Element = document.getElementById("btn2");
        btn2Element.classList.remove("btn-grey");
        btn2Element.className += " btn-orange";
        btn1Element.classList.remove("btn-orange");
        btn1Element.className += " btn-grey";
    }
    function rentFunction() {
        var rentElement = document.getElementById("rent");
        var saleElement = document.getElementById("sale");
        rentElement.classList.remove("text-black");
        rentElement.className += " text-orange";
        saleElement.classList.remove("text-orange");
        saleElement.className += " text-black";
    }
    function saleFunction() {
        var rentElement = document.getElementById("rent");
        var saleElement = document.getElementById("sale");
        saleElement.classList.remove("text-black");
        saleElement.className += " text-orange";
        rentElement.classList.remove("text-orange");
        rentElement.className += " text-black";
    }
</script>




{% endblock %}
