<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bg-lightgrey">
    <div class="row m-0 py-5 px-2 d-flex justify-content-center">
        <div class="col-xl-4 col-md-6 mx-2 profile_pic" style="background-image: url('{{ this_user.img.url }}')">
            <div class="profile_tag">
                <div class="row m-0">
                    <img src="{% static 'icons/profile_active_ico.png' %}" class="mt-1 mr-3">
                    {% if this_user.is_customer %}
                        Customer
                    {% elif this_user.is_agent %}
                        Agent
                    {% endif %}
                </div>                
            </div>
        </div>
        <div class="col-xl-5 mx-2 profile_description font_Commissioner">
            <h3 class="fw-800">{{ this_user.fullname }}</h3>
            <div class="row m-0">
                <p>{{ this_user.job }}</p>
                {% if own_page %}
                <a href="#" class="ml-auto hover_scale-9" data-toggle="modal" data-target="#deleteconformationmodal">
                    <img src="{% static 'icons/trash.png' %}" class="mr-2" style="height: 20px;">
                </a>
                <a href="#" class="ml-2 hover_scale-9" style="margin-top: 2px;">
                    <i class="fa fa-pencil text-grey fs-22"></i>
                </a>
                {% endif %}
            </div>
            <div class="profile_points my-4 py-3">
                <div class="row m-0 pt-2">
                    <p class="fw-800 font_Josefin text-upper">JOINED:</p>
                    <p class="fw-400 ml-auto fs-14">{{ this_user.joined }}</p>
                </div>
                <div class="row m-0">
                    <p class="fw-800 font_Josefin text-upper">Age:</p>
                    <p class="fw-400 ml-auto fs-14">{{ this_user.age }} Years</p>
                </div>
                <div class="row m-0">
                    <p class="fw-800 font_Josefin text-upper">Phone No:</p>
                    <p class="fw-400 ml-auto fs-14">{{ this_user.phone }}</p>
                </div>
                <div class="row m-0">
                    <p class="fw-800 font_Josefin text-upper">EMAIL:</p>
                    <p class="fw-400 ml-auto fs-14">{{ this_user.email }}</p>
                </div>
            </div>
            <div class="row m-0">
                <a href="{{ this_user.fb_link }}" class="profile_social mx-2">
                    <img src="{% static 'icons/facebook.png' %}">
                </a>
                <a href="{{ this_user.twitter_link }}" class="profile_social mx-2">
                    <img src="{% static 'icons/twitter.png' %}">
                </a>
                <a href="{{ this_user.linkedin_link }}" class="profile_social mx-2">
                    <img src="{% static 'icons/linkedin.png' %}">
                </a>
                <a href="{{ this_user.website_link }}" class="profile_social mx-2">
                    <img src="{% static 'icons/info.png' %}">
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5">
        <div class="row m-0 prx-4 d-flex justify-content-center">
            <div class="col-xl-10 prx-45">
                <h4 class="fw-800 my-3">About {{ this_user.fullname }}</h4>
                <p class="profile_about">
                    {{ this_user.about }}
                </p>
            </div>
        </div>
    </div>


    <div class="container-fluid my-5">
        <div class="row m-0 prx-4 d-flex justify-content-center">
            <div class="col-xl-10 prx-45">
                <div class="row m-0">
                    <div class="col-xl-8 p-0">
                        <h4 class="fw-800 my-3">All Attatched Listing</h4>
                    </div>
                    {% if allow_add %}
                        <div class="col-xl-4 p-0">
                            <a href="{% url 'app:add_apartment' %}" class="btn btn-sm btn-orange float-right mt-3 px-3">
                                <i class="fa fa-plus mx-1"></i>
                                Add Items
                            </a>
                        </div>
                    {% endif %}
                </div>
                <!-- Start: attatched Listing -->
                {% if listing %}
                    <div class="row m-0 d-flex justify-content-center">
                        {% for i in listing %}
                        <!-- start: Dream_Card-->
                        <a href="{% url 'app:apartment' pk=i.pk %}">
                            <div class="dream_card mx-4">
                                <div class="dream_card_img" style="background-image: url('{{ i.img.url }}');">
                                    <div class="non_hover_content">
                                        <div class="tl_tag bg-orange d-flex justify-content-center">
                                            {{ i.name }}
                                        </div>
                                        <div class="row m-0 card_info py-3">
                                            <div class="text-orange col-xl-12 p-0 fw-700 info_row">
                                                $ {{ i.price }}
                                                <span class="fw-500">/month</span>
                                            </div>
                                            <div class="fw-200 text-white col-xl-12 p-0">
                                                <img src="{% static 'icons/Icon material-location-on.png' %}" class="mr-1">
                                                {{ i.location }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="overlay_content">
                                        <p>{{ i.name }}</p>
                                        <p class="fw-800">$ {{ i.price }}</p>
                                        <button class="btn btn-orange my-1 px-4">view details</button>
                                        <img class="d-flex my-2" src="{% static 'icons/card_ico.png' %}" style="width: 30px; height: 30px;">
                                        <p class="">{{ i.location }}</p>
                                </div>
                            </div>
                        </a>
                        <!-- End: Dream_Card-->
                        {% endfor %}
                    </div>
                {% else %}
                    <img src="{% static 'imgs/not_found.svg' %}" class="img-fluid d-flex mx-auto" style="height: 300px;">
                {% endif %}
                <!-- End: attatched Listing -->
            </div>
        </div>
    </div>

    <div style="height: 120px;"></div>

</div>


<!-- Start: Delet Confirm Modal -->
<div class="modal fade" id="deleteconformationmodal" tabindex="-1" role="dialog" aria-labelledby="deleteconformationmodalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteconformationmodalLabel">Delete Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    Are you sure about delete your profile?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Process Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End: Delet Confirm Modal -->

{% endblock %}
